.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2px;
  height: 300px;
  border: 1px solid #A4A4A4;
}

.card__title {
  padding: 0 4px;
  color: #2064CD;
}

.card__description {
  padding: 0 4px;
  color: #A4A4A4;
  margin-top: auto;
}

.card__author-name {
  color: #2064CD;
}

.card__info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__favourite {
  display: flex;
  margin-left: auto;
}

.card__likes, .card__views {
  display: flex;
  align-items: center;
  gap: 2px;
}