.main__contaier {
  padding: 10px 0;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.polka {
  background-image: 
    radial-gradient(rgb(120, 63, 232) 10%, transparent 10%),
    radial-gradient(rgb(120, 63, 232) 10%, transparent 10%);
  background-position: 0px 0px, 24px 24px;
  background-size: 48px 48px;
  background-color: rgb(247, 250, 245);
}